@value large as bp-large, large-up as bp-large-up, xlarge-up as bp-xlarge-up from "../../../common-styles/breakpoints.css";
@value expsTitle, greyText from "../../../common-styles/colors.css";

.title {
  position: relative;
  color: greyText;
  text-align: center;
  margin-bottom: 90px;
}

@media bp-large {
  .title {
    margin-top: -200px;
  }
}

@media bp-xlarge-up {
  .title {
    lost-column: 3/12;
    lost-move: 9/12;
    top: -200px;
  }
}

@media bp-large-up {
  .title > * {
    background-color: expsTitle;
  }
}

@media bp-xlarge-up {
  .experiences {
    lost-column: 9/12;
    lost-move: -3/12;
  }
}
